*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.foto {
    width: 12%;
    height: auto;
    min-width: 200px;
    border-radius: 25px;
    align-items: center;
}

.header {
    background-color: cadetblue;
    text-align: center;
    padding: 25px;
}

.informacoes{
    text-align: center;
    padding: 10px;

}

.footer {
    text-align: center;
    padding: 10px;
    bottom: 0px;
    font-size: 15px;
}

.NavigationBar{
    width: 100%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 10px;
}

button {
    color: #000000;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    top: 8px;
    left: 16px;
    font-size: 18px;
    
}

.cadeiras{
    text-align: center;
    padding: 50px;
    display:flex;
    flex-direction: column;

}

div.fotosPierre {
    margin: 65px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
  }
  
  div.fotosPierre img {
    width: 100%;
    height: auto;
  }
  
  div.datas {
    background-color: white;
    padding: 15px;
    text-align: center;
  }